.body {
    background-image: url("https://i.pinimg.com/564x/df/a1/e9/dfa1e967e59b69c16a187a777d8dcf7e.jpg");

}


nav {
    display:flex;
    justify-content:flex-start;
    
    
  }
nav>ul>li>a{
    padding:5px;
    text-transform:uppercase;
    text-decoration:none;
    display:inline-flex;
    color:inherit;
    border:1px solid white;
    font-size:30px;
    margin:5px;
    background-color: crimson;
    clear: both;
    
  
    
  }
#head {
    font-size: 50px;
    display: block;
    text-align: left;
    padding:20px;
    color: brown;
    border: 2px solid green;
    background-color: green;

}

h2 {
    font-size: 50px;
    margin: 2px;
    color: aqua;
    border:2px solid green;
    background-color: green;
}

img {
    float: right;;
    padding: 20px;

}

h3 {
    font-size: 35px;
}
li {
    float: left;
    display: inline;
}

a {
    display: block;
    padding: 10px;

}

header {
    text-decoration: underline;
    font-size: 55px;
    border: 3px solid black;
    background-color: red;
    font-style: oblique;

}

p {
    font-size: 25px;

}

.list {
    border: 2px solid green;
    background-color: green;
    margin: 80px;
}

.footer {
    text-align: left;
    image-rendering: auto;
    image-orientation: inherit;
    
    
}

.info {
    background-image: url("https://i.pinimg.com/564x/2f/5e/c4/2f5ec44c414b2e26d1660f6a9321b344.jpg");
    border: 3px solid black;
    background-attachment: fixed;
}

img {
    border: 1px solid black;
    background-color: darkgreen;
    float: inherit;

}

.works {
    font-size: 50px;
    font-display:inherit;
    display: block;
    text-align: left;
    padding:20px;
    color:white;
    background-image: url("https://i.pinimg.com/564x/56/56/55/565655c203e1501d38df6bbdec37d349.jpg");
    background-size: contain;
    border: 2px solid black;
    background-color: black;
    
}

#go {
    background-color: black;

}