nav {
    display:flex;
    justify-content:flex-start;
    
    
  }
.body {
    background-image:url("https://i.pinimg.com/564x/55/5e/38/555e3828e7e43daa5ad49bff83af22dd.jpg");
    background-size:cover;

}

nav>ul>li>a{
    padding:5px;
    text-transform:uppercase;
    text-decoration:underline;
    display:inline-block;
    color:inherit;
    border:1px solid white;
    font-size:30px;
    margin:5px;
    background-color: crimson;
    
  
    
  }

.container {
    background-image: url("https://scontent.fnbo1-1.fna.fbcdn.net/v/t1.0-9/44762163_1792545507531371_4332268258037071872_n.jpg?_nc_cat=104&_nc_eui2=AeHo4EaqTBT9NYliOYhYvDxyl-t3ELRR3F0kqtB5GNltwgK4SMAeAjkQbupcdn6lW_9DYMFaBh6dYhYGhITw0wwf31rG4Jg6XlP8s8Aq6Fo5Ew&_nc_ht=scontent.fnbo1-1.fna&oh=dcbb3e623cf06ab071707398babfa174&oe=5C700598");
    background-size:1000px 2000px;

}

 {
    font-size: 90px;

}